{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.yml", "*.yaml"],
      "options": { "printWidth": 100 }
    },
    {
      "files": "*.md",
      "options": { "printWidth": 100, "proseWrap": "preserve" }
    }
  ]
}
